<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MageTrackData.Properties.Settings.magetrackConnectionString"
            connectionString="Data Source=mssql3.cloudsites.gearhost.com;Initial Catalog=magetrack;Persist Security Info=True;User ID=magetrack;Password=NeSzJW0p"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>